{%for post in posts%}
<section class="post">
    <section id="header">
        <p>{{post.get('user').get('username')}}</p>
        <i class="fas fa-ellipsis-h"></i>
    </section>

    <img src="{{post.get('user').get('image_url')}}">

    <section class="comments_desc">
        <section class="react">
            <section class="icons">
                <section class="icon">
                    <i class="far fa-heart fa-lg"></i>

                </section>
                <section class="icon">
                    <i class="far fa-comment fa-lg"></i>
                    
                </section>
                <section class="icon">
                    <i class="far fa-paper-plane fa-lg"></i>
                    
                </section>
            </section>
            <section class="bookmark">
                <i class="far fa-bookmark fa-lg"></i>
            
            </section> 
        </section>

        
        

        <section class="likes">
            <p>
                {{post.get('likes')}} likes
            </p>
        
        </section>

        <section class="caption">
            <section class="cap_text">

                <span class="cap_user">{{post.get('user').get('username')}}</span>
               {{post.get('title')}}
                <span class="more">
                    more
                </span>
              

            </section>
            
        </section>

        <section class="comments">
            {%if post.get('comments')|length > 1%}
                    <!--DISPLAY see other comments thing-->
                    <p class="blue">View all {{(post.get('comments')|length)-1}} comment{%if post.get('comments')|length > 2%}s{%endif%}</p>
            {%endif%}
            {%if post.get('comments')|length > 0%}
            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        {{(post.get('comments')[0]).get('user').get('username')}}
                    </span>
                    {{(post.get('comments')[0]).get('text')}}

                </section>
            </section>
            {%endif%}

           
            <section class="days_ago">
                {{post.get('display_time')|upper}}

            </section>

        </section>

    </section>

    <section class="interact">
        <section class="sc">
            <section class="smile">
                <i id="smiley" class="far fa-smile"></i>
                
            </section>
            <section class="add_comm">
                Add a comment...
            </section>
        </section>
        <section class="post_butt">
            Post
        </section>

    </section>

    

</section>
{%endfor%}

<!-- <section class="post">
    <section id="header">
        <p>serendipitee</p>
        <i class="fas fa-ellipsis-h"></i>
    </section>

    <img src="https://i.pinimg.com/564x/dc/7b/69/dc7b698115f0328f494c71e1283d79a5.jpg">

    <section class="comments_desc">
        <section class="react">
            <section class="icons">
                <section class="icon">
                    <i class="far fa-heart fa-lg"></i>

                </section>
                <section class="icon">
                    <i class="far fa-comment fa-lg"></i>
                    
                </section>
                <section class="icon">
                    <i class="far fa-paper-plane fa-lg"></i>
                    
                </section>
            </section>
            <section class="bookmark">
                <i class="far fa-bookmark fa-lg"></i>
            
            </section> 
        </section>

        
        

        <section class="likes">
            <p>
                2,456 likes
            </p>
        
        </section>

        <section class="caption">
            <section class="cap_text">

                <span class="cap_user">fit for today</span>
               to be my friend...
                <span class="more">
                    more
                </span>
              

            </section>
            
        </section>

        <section class="comments">
            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        vogue_fans
                    </span>
                    so fire

                </section>

            </section>

            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        hello.fashion
                    </span>
                    
                    dm to collab!
                    
                </section>

            </section>

            <section class="days_ago">
                1 DAY AGO

            </section>

        </section>

    </section>

    <section class="interact">
        <section class="sc">
            <section class="smile">
                <i id="smiley" class="far fa-smile"></i>
                
            </section>
            <section class="add_comm">
                Add a comment...
            </section>
        </section>
        <section class="post_butt">
            Post
        </section>

    </section>

    

</section>

<section class="post">
    <section id="header">
        <p>nailsbymichelle</p>
        <i class="fas fa-ellipsis-h"></i>
    </section>

    <img src="https://i.pinimg.com/474x/b8/2e/a6/b82ea6b515d1fd5b7a016a334da979f0.jpg">

    <section class="comments_desc">
        <section class="react">
            <section class="icons">
                <section class="icon">
                    <i class="far fa-heart fa-lg"></i>

                </section>
                <section class="icon">
                    <i class="far fa-comment fa-lg"></i>
                    
                </section>
                <section class="icon">
                    <i class="far fa-paper-plane fa-lg"></i>
                    
                </section>
            </section>
            <section class="bookmark">
                <i class="far fa-bookmark fa-lg"></i>
            
            </section> 
        </section>

        
        

        <section class="likes">
            <p>
                1,334,595 likes
            </p>
        
        </section>

        <section class="caption">
            <section class="cap_text">

                <span class="cap_user">nailsbymichelle</span>
               green and gold...
                <span class="more">
                    more
                </span>
              

            </section>
            
        </section>

        <section class="comments">
            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        mj.nidea
                    </span>
                    my favorite nail tech !

                </section>

            </section>

            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        joi_chew
                    </span>
                    <span class="at">@mj.nidea</span>
                    luv u
                    
                </section>

            </section>

            <section class="days_ago">
                1 DAY AGO

            </section>

        </section>

    </section>

    <section class="interact">
        <section class="sc">
            <section class="smile">
                <i id="smiley" class="far fa-smile"></i>
                
            </section>
            <section class="add_comm">
                Add a comment...
            </section>
        </section>
        <section class="post_butt">
            Post
        </section>

    </section>

    

</section>

<section class="post">
    <section id="header">
        <p>emilyinparis</p>
        <i class="fas fa-ellipsis-h"></i>
    </section>

    <img src="https://i.pinimg.com/564x/ae/88/b7/ae88b71557ef010f81a997b112ba4755.jpg">

    <section class="comments_desc">
        <section class="react">
            <section class="icons">
                <section class="icon">
                    <i class="far fa-heart fa-lg"></i>

                </section>
                <section class="icon">
                    <i class="far fa-comment fa-lg"></i>
                    
                </section>
                <section class="icon">
                    <i class="far fa-paper-plane fa-lg"></i>
                    
                </section>
            </section>
            <section class="bookmark">
                <i class="far fa-bookmark fa-lg"></i>
            
            </section> 
        </section>

        
        

        <section class="likes">
            <p>
                257 likes
            </p>
        
        </section>

        <section class="caption">
            <section class="cap_text">

                <span class="cap_user">emilyinparis</span>
               bonjour paris! ...
                <span class="more">
                    more
                </span>
              

            </section>
            
        </section>

        <section class="comments">
            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        chefgabriel
                    </span>
                    oui oui

                </section>

            </section>

            <section class="comment">
                

                <section class="comm">
                    <span class="comm_user">
                        charlotte.gal
                    </span>
                    
                    tres belle
                    
                </section>

            </section>

            <section class="days_ago">
                1 DAY AGO

            </section>

        </section>

    </section>

    <section class="interact">
        <section class="sc">
            <section class="smile">
                <i id="smiley" class="far fa-smile"></i>
                
            </section>
            <section class="add_comm">
                Add a comment...
            </section>
        </section>
        <section class="post_butt">
            Post
        </section>

    </section>

    

</section>




</section> -->