#navigation{
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: white;
    position:fixed;
    width: 100%;
    height: 50px;
    top: 0px;
    left:0px;
    border-bottom: solid lightgray;
    
}

#navigation h2{
    margin-left: 5px;
    padding: 8px;
    font-family: 'Comfortaa', cursive;

}

#navigation section {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;

   


}

navigation section section{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    font-family: 'Comfortaa', cursive;
    

}


main{
    display:flex;
    background-color: rgb(237,237,237);
    justify-content: center;
    
   

}



#navigation section p{
    padding: 2px;
    margin: 5px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Open Sans', sans-serif;
    
  
    
}

#sign-out{
    color: rgb(58, 133, 219);
}

#sugs{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding: 10px;
    font-size: large;
    color:rgb(158, 162, 162);
   
    
    
}

.bolded{
    font-weight: 700;
}



#recs{
    display: flex;
    flex-direction: column;
    justify-content: flex;
    margin-top: 25px;
    
    width: 350px;
    height: 550px;
    background-color: rgb(237,237,237);
    justify-self: flex-end;
    position: fixed;
    margin-left: 700px;
    
}
#profile{
    display: flex;
    padding: 8px;
    margin-right: 5px;
    align-items: center;
    margin-bottom: 0px;

}

#profile p{
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    

}
#profile img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 3px;
}

#other-profs{
    padding: 10px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    
}
.profss img{
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-right:5px;
    margin-left: 5px;
    border-radius: 50%;
    margin-top: 0px;

}

.sug4{
    font-size:12px;
    font-weight: bold;
    color: rgb(159, 162,162);
}

.profss {
    display: flex;
    align-items: center;
    padding: 3px;
}
.profss section {
    padding: 10px
}
.profss section p{
    margin: 0px;
    padding: 1px;
    
    
}



.follow{
    margin-left: 50px;
    color: rgb(58, 133, 219);
}

#feed{
    margin-top: 50px;
    width: 550px;
    height: 1000px;
   
    
    

}

#stories{
    display: flex;
    font-size: small;
    margin-top: 20px;
   
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    border: solid lightgray;
    
    
}

#stories section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 5px;
    

    
}

#stories section img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 3px;
    margin-bottom: 5px;
    justify-content: center;
    border: solid lightgray;
    

    
}

#stories section p{
    margin: 0px;
    
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size:large;
    font-family: 'Open Sans', sans-serif;
   


}



#header p{
    margin:0;
    

}

.posts{
    margin-left: 0%;
}
.post{
    margin-top: 20px;
    
    width:100%;
    background-color: white;
    border: solid lightgray
    

    
    
}
.post img{
    width: 100%;

}

.react{
    display: flex;
    padding: 5px;
    justify-content: space-between;
   
   
    
}
.icons{
    display: flex;
    padding: 2px;
    align-items:center;
    
}

.icon{
    padding: 5px;
}

.bookmark{
    margin-right: 3px;
    display: flex;
    align-self: center;
    

    
}


.comments_desc{
    width: 100%;
    margin-top: 0%;
    
}
.comments{
    
    padding: 5px;
    
}

.likes{
    display:flex;
}

.likes p{
    display: flex;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 0;
    
}

.caption{
   
   padding: 5px;
   
}



.cap_text {
    margin-top: 0px;
    padding: 5px;
    align-items: flex-start;
    
    font-family: Arial, Helvetica, sans-serif;
}
.cap_user{
    
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
 
}

.more{
   
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 133, 219);
   

}
.comm{
    
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.comm_user{

    margin-left: 0px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.days_ago{
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
}





/* #recs{
    display: flex;

    justify-content: flex-end
} */

/* body *{
    border: solid grey 0.5px;
    
} */



#feed{
    display: flex;
    flex-direction: column;
    margin-right: 350px;
    width: 650px;
   
    
}

.at{
    color: rgb(58, 133, 219);

}

.interact{
    display: flex;
    background-color: white;
   
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    
    
    

}

#smiley{
    font-size: 20px;

}
.sc{
    display: flex;
    
    padding: 10px;
    
    
}


.add_comm{
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 30px;
}

.post_butt{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
    color:rgb(58, 133, 219)
  
}

body{
    background-color: rgb(237,237,237);
   
    margin:0%;
}

@media screen and (max-width: 1100px) {
    #recs {
      display: none;
    }
    #feed {
        margin-right: 0px;
    }
  }
@media screen and (max-width: 700px) {
    #recs {
      display: none;
    }
    main {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
}

.blue{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 133, 219);
    font-size:medium;
    margin-left: 5px;
    margin-top: 5px;
}


